<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Document</title>
    </head>
    <body>
        <h1>This value will not be printed to screen
            <% 1+1 %>
            </h1>

            <h1>
                This value will be printed to the screen
                <%= 1+1 %>
                </h1>

                <h1>
                    Welecome
                    <%= name%>
                    </h1>

                    <h2>names: </h2>
                    <% list.forEach(function(listItem){ %>


                        <h3>
                            <%= listItem%>
                            </h3>

                            <% })%>
                            </body>
                        </html>